/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.icon {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

.icon-offline {
  content: -webkit-image-set( url(assets/default_100_percent/100-error-offline.png) 1x, url(assets/default_200_percent/200-error-offline.png) 2x);
  position: relative;
}

.hidden {
  display: none;
}


/* Offline page */

.offline .interstitial-wrapper {
  color: #2b2b2b;
  font-size: 1em;
  line-height: 1.55;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 100px;
  width: 100%;
}

.offline .runner-container {
  height: 150px;
  max-width: 600px;
  overflow: hidden;
  position: absolute;
  top: 35px;
  width: 44px;
}

.offline .runner-canvas {
  height: 150px;
  max-width: 600px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 2;
}

.offline .controller {
  background: rgba(247, 247, 247, .1);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#offline-resources {
  display: none;
}

@media (max-width: 420px) {
  .suggested-left > #control-buttons, .suggested-right > #control-buttons {
    float: none;
  }
  .snackbar {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-height: 350px) {
  h1 {
    margin: 0 0 15px;
  }
  .icon-offline {
    margin: 0 0 10px;
  }
  .interstitial-wrapper {
    margin-top: 5%;
  }
  .nav-wrapper {
    margin-top: 30px;
  }
}

@media (min-width: 600px) and (max-width: 736px) and (orientation: landscape) {
  .offline .interstitial-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 420px) and (max-width: 736px) and (min-height: 240px) and (max-height: 420px) and (orientation:landscape) {
  .interstitial-wrapper {
    margin-bottom: 100px;
  }
}

@media (min-height: 240px) and (orientation: landscape) {
  .offline .interstitial-wrapper {
    margin-bottom: 90px;
  }
  .icon-offline {
    margin-bottom: 20px;
  }
}

@media (max-height: 320px) and (orientation: landscape) {
  .icon-offline {
    margin-bottom: 0;
  }
  .offline .runner-container {
    top: 10px;
  }
}

@media (max-width: 240px) {
  .interstitial-wrapper {
    overflow: inherit;
    padding: 0 8px;
  }
}
span.btn {
  display: inline;
}
span.btn >a {
  display: inline-block;
  background: #2196f3;
  color: #fff;
  padding: 4px 4px 2px 4px;
  margin: 2px;
  line-height: 1.1;
  border-radius: 2px;
  transition: all 0.28s ease;
  -moz-transition: all 0.28s ease;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
}
span.btn >a i {
  margin-right: 2px;
}
span.btn >a:hover {
  color: #fff;
  background: #ff5722;
}
span.btn >a:not([href]) {
  opacity: 0.5;
}
span.btn >a:not([href]):hover {
  cursor: not-allowed;
}
span.btn.regular >a {
  padding: 8px 12px 6px 12px;
}
span.btn.regular >a i {
  margin-right: 4px;
}
span.btn.large >a {
  padding: 12px 36px 10px 36px;
}
span.btn.large >a i {
  margin-right: 8px;
}
span.btn.center {
  display: block;
  text-align: center;
}
div.btns {
  margin: 0 -8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: flex-start;
  overflow: visible;
  line-height: 1.8;
}
div.btns,
div.btns p,
div.btns a {
  font-size: 0.8125rem;
  color: #555;
}
div.btns b {
  font-size: 0.875rem;
}
div.btns.wide>a {
  padding-left: 32px;
  padding-right: 32px;
}
div.btns.fill>a {
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: auto;
}
div.btns.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
div.btns.center {
  -ms-flex-pack: center;
      justify-content: center;
}
div.btns.grid2>a {
  width: calc(100%/2 - 16px);
}
@media screen and (max-width: 1024px) {
  div.btns.grid2>a {
    width: calc(100%/2 - 16px);
  }
}
@media screen and (max-width: 768px) {
  div.btns.grid2>a {
    width: calc(100%/2 - 16px);
  }
}
@media screen and (max-width: 500px) {
  div.btns.grid2>a {
    width: calc(100%/1 - 16px);
  }
}
div.btns.grid3>a {
  width: calc(100%/3 - 16px);
}
@media screen and (max-width: 1024px) {
  div.btns.grid3>a {
    width: calc(100%/3 - 16px);
  }
}
@media screen and (max-width: 768px) {
  div.btns.grid3>a {
    width: calc(100%/3 - 16px);
  }
}
@media screen and (max-width: 500px) {
  div.btns.grid3>a {
    width: calc(100%/1 - 16px);
  }
}
div.btns.grid4>a {
  width: calc(100%/4 - 16px);
}
@media screen and (max-width: 1024px) {
  div.btns.grid4>a {
    width: calc(100%/3 - 16px);
  }
}
@media screen and (max-width: 768px) {
  div.btns.grid4>a {
    width: calc(100%/3 - 16px);
  }
}
@media screen and (max-width: 500px) {
  div.btns.grid4>a {
    width: calc(100%/2 - 16px);
  }
}
div.btns.grid5>a {
  width: calc(100%/5 - 16px);
}
@media screen and (max-width: 1024px) {
  div.btns.grid5>a {
    width: calc(100%/4 - 16px);
  }
}
@media screen and (max-width: 768px) {
  div.btns.grid5>a {
    width: calc(100%/3 - 16px);
  }
}
@media screen and (max-width: 500px) {
  div.btns.grid5>a {
    width: calc(100%/2 - 16px);
  }
}
div.btns a {
  transition: all 0.28s ease;
  -moz-transition: all 0.28s ease;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  margin: 8px;
  margin-top: calc(1.25 * 16px + 32px);
  min-width: 120px;
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 8px;
  text-align: center;
  background: #f6f6f6;
  border-radius: 4px;
}
div.btns a>img:first-child,
div.btns a>i:first-child {
  transition: all 0.28s ease;
  -moz-transition: all 0.28s ease;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  height: 64px;
  width: 64px;
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);
  margin: 16px 8px 4px 8px;
  margin-top: calc(-1.25 * 16px - 32px);
  border: 2px solid #fff;
  background: #fff;
  line-height: 60px;
  font-size: 28px;
}
div.btns a>img:first-child.auto,
div.btns a>i:first-child.auto {
  width: auto;
}
div.btns a>i:first-child {
  color: #fff;
  background: #2196f3;
}
div.btns a p,
div.btns a b {
  margin: 0.25em;
  font-weight: normal;
  line-height: 1.25;
  word-wrap: break-word;
}
div.btns a b {
  font-weight: bold;
  line-height: 1.3;
}
div.btns a img {
  margin: 0.4em auto;
}
div.btns a:not([href]) {
  cursor: default;
  color: inherit;
}
div.btns a[href]:hover {
  background: rgba(255,87,34,0.15);
}
div.btns a[href]:hover,
div.btns a[href]:hover b {
  color: #ff5722;
}
div.btns a[href]:hover>img:first-child,
div.btns a[href]:hover>i:first-child {
  transform: scale(1.1) translateY(-8px);
  box-shadow: 0 4px 8px 0px rgba(0,0,0,0.1);
}
div.btns a[href]:hover>i:first-child {
  background: #ff5722;
}
div.btns.circle a>img:first-child,
div.btns.circle a>i:first-child {
  border-radius: 32px;
}
div.btns.rounded a>img:first-child,
div.btns.rounded a>i:first-child {
  border-radius: 16px;
}